{% comment %} Access "Average Rating" metafield {% endcomment %}
{% assign avg_rating = block.settings.product.metafields.reviews.average_rating.value %}

{% assign rounded_rating = avg_rating | round %}

<span style="color:{{ block.settings.colour }}">
  {% render 'stars', rating: rounded_rating %}
</span>

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#000000" }
  ]
}
{% endschema %}